{% spaceless %}
<div id="courses" class="section curve-after">
<div class="wrap">

    <div class="bg-animated deus deus1 bg1"></div>
    <div class="bg-animated deus deus2 bg2"></div>
    <div class="bg-animated deus deus3 bg3"></div>
    <div class="bg-animated deus deus4 bg4"></div>
    <div class="bg-animated deus deus5 bg5"></div>
    <div class="bg-animated deus deus6 bg6"></div>
    <div class="bg-animated deus deus7 bg7"></div>
    <div class="bg-animated deus deus2 bg8"></div>

    <h2>Напрямки курсів</h2>

    <div class="row clearfix">
        {% for course in courses %}

        <div class="t course-{{ course.style }}">
            <div class="title">
                <div class="name">{{ course.title }}</div>
            </div>

            <div class="time">
                Початок: <b title="07 січня 2015 року">{{ course.start }}</b>
            </div>

            <img class="image" src="{{ course.image }}" title="{{ course.title }}" />

            <div class="desc">{{ course.desc }}</div>

            <a href="{{ path('course', {id: course.id}) }}" class="more">Детальніше<span>&#65515;</span></a>
        </div>

        {% endfor %}
    </div>

    <i class="go-to-top"></i>

</div>
</div>
{% endspaceless %}