{% if not workshops %}
  <div class="no-items">
    На жаль, зараз немає воркшопів у вашому місті.
  </div>
{% else %}
  {% for workshop in workshops %}
    <div class="t workshop workshop-{{ workshop.id }}">
      <div class="title">
        <div class="name">{{ workshop.title }}</div>
      </div>

      <div class="time">
        <span>Дата:</span>&nbsp;<b class="tooltip" data-tooltip="{{ workshop.start }}">{{ workshop.start }}</b>
        <br/>
        <span>Тривалість:</span>&nbsp;<b>{{ workshop.duration }}</b>
      </div>

      <div class="image">
        <img src="{{ workshop.image }}" title="{{ workshop.title }}" />
      </div>

      <div class="desc">{{ workshop.desc }}</div>

      <a href="{{ path('workshop', {id: workshop.id}) }}" class="more">Детальніше<span>&rarr;</span></a>
    </div>
  {% endfor %}
{% endif %}