{% spaceless %}
<div id="teachers" class="section curve-after">
  <div class="wrap">

    <h2>Викладачі</h2>

    <div class="row clearfix">

      {% for teacher in teachers %}
        <div id="{{ teacher.id }}" class="t">
          <a class="teacher-link" href="{{ path('teacher', {id: teacher.id}) }}">
            <div class="info">
              <div class="name">{{ teacher.name }}</div>
              <div class="position">{{ teacher.position }}</div>

              <div class="courses">
                {% for course in teacher.courses %}
                  <i class="course course-{{ course }}" title="{{ course|upper }}"></i>
                {% endfor %}
              </div>
            </div>
            
            <img class="photo" src="{{ teacher.photo }}" />
          </a>

          {% if teacher.desc_short|default('') %}
          <div class="desc">{{ teacher.desc_short|default('') }}</div>
          {% endif %}

          {% if teacher.links %}
          <div class="links">
            {% for link in teacher.links %}
              <a href="{{ link.url }}" class="tooltip" data-tooltip="{{ link.type }}" target="_blank"><i class="{{ link.type }}"></i></a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      {% endfor %}

    </div>

    {#
    <form class="light-form" id="add-teacher">
      <input type="submit" value="Приєднатися до команди викладачів!">
    </form>
    #}

    <i class="go-to-top"></i>

  </div>
</div>
{% endspaceless %}