{% spaceless %}
<div id="teachers" class="section curve-after">
  <div class="wrap">

    <h2>Викладачі</h2>

    <div class="row clearfix">

      {% for teacher in teachers %}
        <div class="t">
          <a href="{{ path('teacher', {id: teacher.id}) }}">
            <div class="name">{{ teacher.name }}</div>
            <div class="position">{{ teacher.position }}</div>
            <img class="photo" src="{{ teacher.image }}" />
          </a>

          <div class="desc">{{ teacher.desc }}</div>

          {#
          <div class="social">
            <a href=""><i class="linkedin"></i></a>
            <a href=""><i class="facebook"></i></a>
            <a href=""><i class="vkontakte"></i></a>
            <a href=""><i class="github"></i></a>
          </div>
          #}
        </div>
      {% endfor %}

    </div>

    <i class="go-to-top"></i>

  </div>
</div>
{% endspaceless %}