{% for course in courses %}

<div class="t course-{{ course.group }}">
  <div class="t-wrap">
    <a class="title" href="{{ path('course', {id: course.id}) }}">
      <div class="name">{{ course.title }}</div>
    </a>

    <div class="time">
      <span>Початок:</span>&nbsp;<b class="tooltip" data-tooltip="{{ course.start }}">{{ course.start }}</b>
    </div>

    <a class="image" href="{{ path('course', {id: course.id}) }}">
      <img src="{{ course.image }}" title="{{ course.title }}" />
    </a>

    <div class="desc">{{ course.desc }}</div>

    <a href="{{ path('course', {id: course.id}) }}" class="more">Детальніше<span>&rarr;</span></a>
  </div>
</div>

{% endfor %}