{% spaceless %}
<div id="teacher-information" class="curve-after section">
  <div class="wrap clearfix">

    <div id="general-info" class="animated flipInX hinge">
      <h1 id="name">{{ teacher.name }}</h1>
      <h3 id="position">{{ teacher.position }}</h3>
      <img id="photo" src="{{ teacher.photo }}" />
    </div>

    {% if teacher.desc_short %}
      {% if teacher.desc_full %}
        <div id="full-desc">{{ teacher.desc_full|raw }}</div>
      {% else %}
        <div id="short-desc">{{ teacher.desc_short|raw }}</div>
      {% endif %}
    {% endif %}

    {% if teacher.links %}
      <div id="social-links">
        {% for link in teacher.links %}
          <div>
            <a href="{{ link.url }}" target="_blank">
              <i class="icon icon48 {{ link.type }}48 filter-white"></i>
            </a>
          </div>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </div>
</div>
{% endspaceless %}