<!DOCTYPE html>
<html>
{% spaceless %}
<head>
  {% include 'widget_googleanalytics_ab.html.twig' %}

  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}{{ title|default('') }}{% endblock %}</title>

  <meta name="keywords" content="{{ meta_keywords|default('') }}" />
  <meta name="description" content="{{ meta_description|default('') }}" />
  <meta name="author" content="{{ meta_author|default('') }}" />

  <meta name="robots" content="all" />
  <meta name="revisit-after" content="2 days" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="icon" type="image/x-icon" href="/favicon.png" />

  {% if app.debug %}
    <link rel="stylesheet/less" type="text/css" href="/css/page-{{ pageName }}.less">
  {% else %}
    <link rel="stylesheet" type="text/css" href="/assets/page-{{ pageName }}.css">
  {% endif %}

  <link href='http://fonts.googleapis.com/css?family=Exo+2|Open+Sans:300,400,600,700,regular&subset=latin,cyrillic' rel='stylesheet' type='text/css' media='all' />

  {% if app.debug %}
    {#<script data-env="development" src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.2.0/less.min.js"></script>#}
    <script data-env="development" src="/vendor/less.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js"></script>
  {% endif %}
</head>
{% endspaceless %}
<body id="page-{{ pageName }}" class="{{ pageClass|default('') }}">
  {% block content %}{% endblock %}

  {% spaceless %}
  <div id="footer" class="section">
    <div class="wrap">CURSOR Education &copy; 2013-2015</div>
  </div>
  {% endspaceless %}

  {{ _self.js('app') }}
  {{ _self.js('page-'~pageName) }}

  {% macro js(name) %}
    {% if app.debug %}
      <script type="text/coffeescript" src="/js/{{ name }}.coffee"></script>
    {% else %}
      <script type="text/javascript" src="/assets/{{ name }}.js"></script>
    {% endif %}
  {% endmacro %}

  {% include 'widget_googleanalytics.html.twig' %}
</body>
</html>