{% spaceless %}
<div id="course-description" class="curve-after section">
  <div class="wrap clearfix">

    <div class="top-line">
      <div class="item during">
        <i></i>
        <span>Тривалість: 12 годин</span>
      </div>

      <div class="item teachers">
        <i></i>
        <span>Лектори:</span>

        <a class="tooltip" title="Alex Yasha" href="{{ path('teacher', {id: 'alex-yasha'}) }}"><i class="icon teacher s25 alex-yasha"></i></a>

        <a class="tooltip" title="Max Yasha" href="{{ path('teacher', {id: 'max-xz'}) }}"><i class="icon teacher s25 max-xz"></i></a>

        <a class="tooltip" title="Roman Ar" href="{{ path('teacher', {id: 'roman-rodomansky2'}) }}"><i class="icon teacher s25 roman-rodomansky2"></i></a>

        <a class="tooltip" title="Alex Okajhs" href="{{ path('teacher', {id: 'yura-oliynuk'}) }}"><i class="icon teacher s25 yura-oliynuk"></i></a>
      </div>

      <div class="item during">
        <i></i>
        <span>Тривалість: 12 годин</span>
      </div>

      <div class="item during">
        <i></i>
        <span>Вартість: 3500 грн</span>
      </div>
    </div>

    <div class="desc">{{ course.desc_full }}</div>

  </div>
</div>
{% endspaceless %}